/**
 * @name Self Nicknames
 * @author DTACat, WNTIV
 * @version 1.0.0
 * @description Displays A Nickname for people only you can see.
 * @source https://github.com/DTACat/nickname-discord-theme
 * @website https://sites.google.com/view/goofytests/home-page
 * @invite 7SBn9qzwxC
 */

/*
 * TODO: Theme attributes
 */

@import url("https://raw.githubusercontent.com/DTACat/nickname-discord-theme/main/src/main.css");

/* Default nickname, applied to all users */
:root {
	/* override-nickname of 0 will use user's default name */
	--override-nickname: 0;
}

/* Change own name */
[data-is-self="true"] {
	--override-nickname: 1;
	--nickname: "Me";
}

/* Change specific user's nickname */
[data-author-id="<user-id>"] {
	--override-nickname: 1;
	--nickname: "name";
}
