@property --override-nickname {
	syntax: "0 | 1";
	inherits: true;
	initial-value: 0;
}

@property --nickname {
	syntax: "<string> | none";
	inherits: true;
	initial-value: none;
}

[class^="username"] {
	font-size: calc((1 - var(--override-nickname)) * 1rem);
}

[class^="username"]::after {
	content: var(--nickname);
	font-size: calc(var(--override-nickname) * 1rem);
}
